<div class="detonation">
  {% if data.include_title %}
  <h5 class="detonation-heading text-center">
    <a class="bigger" href="{{ data.link|safe }}">{{ data.name|safe }}</a>
    <a class="txt-link smaller" href="{{ data.txt_link|safe }}">[txt]</a>
    <a class="csv-link smaller" href="{{ data.csv_link|safe }}">[csv]</a>
  </h5>
  <h5 class="detonation-heading text-center">
    <span class="search-citation">
      {{ data.citation|safe }}
      <a class="citation-link" href="{{ data.citation_link|safe }}">[{{ data.citation_id|safe }}]</a></span>
  </h5>
  {% endif %}
  <table
    class="table table-striped text-center detonation-details details"
  >
    <tr>
      <td class="detail-label align-middle">CATEGORY</td>
      <td class="category-detail detail align-middle">
        <a href="{{ data.category_link|safe }}">{{ data.category|safe }}</a>
      </td>
      <td></td>
      <td class="detail-label align-middle">FUEL</td>
      <td class="fuel-detail detail align-middle">{{ data.fuel|safe }}</td>
      <td class="align-middle detail-search">
        <i class="ui tiny inverted grey circular search icon"></i>
      </td>
    </tr>
    <tr>
      <td class="detail-label align-middle">SUBCATEGORY</td>
      <td class="subcategory-detail detail align-middle">
        {% if data.subcategory%}
        <a href="{{ data.subcategory_link|safe }}">{{ data.subcategory|safe }}</a>
        {% endif %}
      </td>
      <td></td>
      <td class="detail-label align-middle">OXIDIZER</td>
      <td class="oxidizer-detail detail align-middle">{{ data.oxidizer|safe }}</td>
      <td class="align-middle detail-search">
        <i class="ui tiny inverted grey circular search icon"></i>
      </td>
    </tr>
    <tr>
      <td class="detail-label align-middle">INITIAL PRESSURE</td>
      <td class="pressure-detail detail align-middle">{{ data.pressure|safe }}</td>
      <td class="align-middle detail-search">
        <i class="ui tiny inverted grey circular search icon"></i>
      </td>
      <td class="detail-label align-middle">DILUENT</td>
      <td class="diluent-detail detail align-middle">{{ data.diluent|safe }}</td>
      <td class="align-middle detail-search">
        <i class="ui tiny inverted grey circular search icon"></i>
      </td>
    </tr>
    <tr>
      <td class="detail-label align-middle">INITIAL TEMPERATURE</td>
      <td class="temperature-detail detail align-middle">{{ data.temperature|safe }}</td>
      <td class="align-middle detail-search">
        <i class="ui tiny inverted grey circular search icon"></i>
      </td>
      <td class="detail-label align-middle">EQUIVALENCE RATIO</td>
      <td class="er-detail detail align-middle">{{ data.er|safe }}</td>
      <td class="align-middle detail-search">
        <i class="ui tiny inverted grey circular search icon"></i>
      </td>
    </tr>
  </table>
</div>
