<div class="detonation">
  {% if data.include_title %}
  <h5 class="detonation-heading text-center">
    <a class="bigger" href="{{ data.link|safe }}">{{ data.name|safe }}</a>
    <a class="txt-link smaller" href="{{ data.txt_link|safe }}">[txt]</a>
    <a class="csv-link smaller" href="{{ data.csv_link|safe }}">[csv]</a>
  </h5>
  <h5 class="detonation-heading text-center">
    <span class="search-citation">
      {{ data.citation|safe }}
      <a class="citation-link" href="{{ data.citation_link|safe }}">[{{ data.citation_id|safe }}]</a></span>
  </h5>
  {% endif %}
  <table
    class="table table-striped text-center detonation-details details"
  >
    <tr>
      <td class="detail-label align-middle left">CATEGORY</td>
      <td class="category-detail detail align-middle left">
        <a id="cat-{{ data.i }}" href="{{ data.category_link|safe }}">{{ data.category|safe }}</a>
      </td>
      <td class="align-middle detail-search left">
        <button id="cat-btn-{{ data.i }}" class="btn btn-primary btn-circle btn-circle-xs detail-search-btn" style="visibility:hidden">
          <i class="ui tiny inverted grey search icon"></i>
        </button>
      </td>
      <td class="detail-label align-middle right">FUEL</td>
      <td id="fuel-{{ data.i }}" class="fuel-detail detail align-middle right">{{ data.fuel|safe }}</td>
      <td class="align-middle detail-search right">
        <button id="fuel-btn-{{ data.i }}" class="btn btn-primary btn-circle btn-circle-xs detail-search-btn" style="visibility:hidden">
          <i class="ui tiny inverted grey search icon"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="detail-label align-middle left">SUBCATEGORY</td>
      <td class="subcategory-detail detail align-middle left">
        {% if data.subcategory%}
        <a id="subcat-{{ data.i }}" href="{{ data.subcategory_link|safe }}">{{ data.subcategory|safe }}</a>
        {% endif %}
      </td>
      <td class="align-middle detail-search left">
        <button id="subcat-btn-{{ data.i }}" class="btn btn-primary btn-circle btn-circle-xs detail-search-btn" style="visibility:hidden">
          <i class="ui tiny inverted grey search icon"></i>
        </button>
      </td>
      <td class="detail-label align-middle right">OXIDIZER</td>
      <td id="ox-{{ data.i }}" class="oxidizer-detail detail align-middle right">{{ data.oxidizer|safe }}</td>
      <td class="align-middle detail-search right">
        <button id="ox-btn-{{ data.i }}" class="btn btn-primary btn-circle btn-circle-xs detail-search-btn" style="visibility:hidden">
          <i class="ui tiny inverted grey search icon"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="detail-label align-middle left">INITIAL PRESSURE</td>
      <td id="p-{{ data.i }}" class="pressure-detail detail align-middle left">{{ data.pressure|safe }}</td>
      <td class="align-middle detail-search left">
        <button id="p-btn-{{ data.i }}" class="btn btn-primary btn-circle btn-circle-xs detail-search-btn" style="visibility:hidden">
          <i class="ui tiny inverted grey search icon"></i>
        </button>
      </td>
      <td class="detail-label align-middle right">DILUENT</td>
      <td id="dil-{{ data.i }}" class="diluent-detail detail align-middle right">{{ data.diluent|safe }}</td>
      <td class="align-middle detail-search right">
        <button id="dil-btn-{{ data.i }}" class="btn btn-primary btn-circle btn-circle-xs detail-search-btn" style="visibility:hidden">
          <i class="ui tiny inverted grey search icon"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="detail-label align-middle left">INITIAL TEMPERATURE</td>
      <td id="temp-{{ data.i }}" class="temperature-detail detail align-middle left">{{ data.temperature|safe }}</td>
      <td class="align-middle detail-search left">
        <button id="temp-btn-{{ data.i }}" class="btn btn-primary btn-circle btn-circle-xs detail-search-btn" style="visibility:hidden">
          <i class="ui tiny inverted grey search icon"></i>
        </button>
      </td>
      <td class="detail-label align-middle right">EQUIVALENCE RATIO</td>
      <td id="er-{{ data.i }}" class="er-detail detail align-middle right">{{ data.er|safe }}</td>
      <td class="align-middle detail-search right">
        <button id="er-btn-{{ data.i }}" class="btn btn-primary btn-circle btn-circle-xs detail-search-btn" style="visibility:hidden">
          <i class="ui tiny inverted grey search icon"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
