{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en-us">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Detonation Database</title>
  <meta name="description"
    content="The revitalized Caltech Detonation Database, originally created by Joe Shepherd and" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="manifest" href="{% static "site.webmanifest" %}" />
  <link rel="apple-touch-icon" href="{% static "icon.png" %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" />
  <link rel="application/octet-stream" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/themes/default/assets/fonts/icons.eot">
  <link rel="image/svg+xml" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/themes/default/assets/fonts/icons.svg">
  <link rel="application/octet-stream" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/themes/default/assets/fonts/icons.ttf">
  <link rel="application/octet-stream" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/themes/default/assets/fonts/icons.woff">
  {# <link rel="application/octet-stream" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/themes/default/assets/fonts/icons.woff2"> #}
  <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
  <link rel="stylesheet" href="{% static "css/boilerplate.css" %}" />
  <link rel="stylesheet" href="{% static "css/animate.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom-bootstrap.css" %}" />
  <link rel="stylesheet" href="{% static "css/core.css" %}" />
  <link rel="stylesheet" href="{% static "css/index.css" %}" />
  <script>history.scrollRestoration = "manual"</script>
</head>

<body>
  <!--[if lte IE 10]>
    <p class="browserupgrade">
      You are using an outdated browser that is not supported by the new
      Detonation Database. Please upgrade your browser or use the
      <a href="http://shepherd.caltech.edu/detn_db/html/db.html"
        >old database</a
      >.
    </p>
  <![endif]-->
