<table class="table {% if hover %}table-hover{% endif %}">
  {% for i in items %}
  <tr {% if i.id %} id="{{ i.id }}" {% endif %}>
    <td class="align-middle">
      <div>
        {% if i.author %}
          <i class="ui user icon"></i>
        {% elif i.citation %}
          <i class="ui quote right icon"></i>
        {% endif %}
      </div>
    </td>
    <td>
      {% if i.link %}
      <a href="{{ i.link }}">{{ i.name|safe }}</a>
      {% else %}
      <p>{{ i.name|safe }}</p>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
