<h2 class="page-title">{{ header.title }}</h2>
{% if header.type == "nav" %}
<div class="row">
  <div class="col-sm-12 col-md-3 order-first order-md-first page-subtitle-div">
    <h4 class="page-subtitle">{{ header.category }}{% if subcategory %} / {{ header.subcategory }}{% endif %}</h4>
  </div>
  <div class="col-6 col-md-1 text-center align-self-center order-3 order-md-2 plot-nav">
    <span id="prev-page" class="plot-nav-btn">
      {% if header.prev %}
      <a href='{{ header.prev }}'>
      <button class="btn btn-primary btn-circle btn-circle-sm">
        <i class="ui inverted left arrow icon"></i>
      </button>
      </a>
      {% endif %}
    </span>
  </div>
  <div class="col-12 col-md-4 page-data-title order-2 order-md-3 plot-title">
    <h5 class="page-subtitle darker bigger">
      {{ header.subtitle }}
    </h5>
    <br />
    <h5 class="page-subtitle darker smaller">
      {{ header.subsubtitle }}
    </h5>
  </div>
  <div class="col-6 col-md-1 text-center align-self-center order-4 order-md-4 plot-nav">
    <span id="next-page" class="plot-nav-btn">
      {% if header.next %}
      <a href='{{ header.next }}'>
      <button class="btn btn-primary btn-circle btn-circle-sm">
        <i class="ui inverted right arrow icon"></i>
      </button>
      </a>
      {% endif %}
    </span>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-sm-12 col-md-4 page-subtitle-div">
    <h4 class="page-subtitle">
      {{ header.category }}
      {% if header.subcategory %} / {{ header.subcategory }}{% endif %}
    </h4>
  </div>
  <div class="col-sm-12 col-md-4 page-data-title">
    <h5 class="page-subtitle darker bigger">{{ header.subtitle }}</h5>
  </div>
</div>
{% endif %}
