{% include "../components/header.html" %}
{% include "../components/nav_bar.html" with include_search=True %}

  <div id="data-sets" class="container">
    {% include "../components/breadcrumb.html" with prev=bc.prev current=bc.current %}
    {% include "../components/page_header.html" with header=header %}
    <div class="row justify-content-center">
      {% for d in detonations %}
        <div class="col-md-12 col-lg-6">
          {% include "../components/detonation_table.html" with data=d %}
        </div>
      {% endfor %}
    </div>
  </div>

{% include "../components/footer.html" %}
