#home-page {
  text-align: center;
  padding-top: 30vh;
  padding-bottom: 10%;
}

#search-bar {
  padding: 0 25% 0 25%;
}

input[type="text"],
textarea {
  /* background-color: #f4f4f4; */
  background-color: white;
}
