@import "custom-bootstrap";

// // // // // //
//  HOME PAGE  //
// // // // // //
#home-page {
  text-align: center;
  padding-top: 30vh;
  padding-bottom: 10%;
}

#search-bar {
  padding: 0 5% 0 5%;
  @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
    padding: 0 25% 0 25%;
  }
}

input[type="text"],
textarea {
  background-color: white;
}

// // // // // //
// BROWSE PAGE //
// // // // // //

#browse {
  height: 100%;
}

#browse > .row {
  height: 50%;
}

.selection {
  padding: 20px;
  border: 1px solid transparent;
  border-radius: $border-radius-sm;
  // transition: border 0.1s;
}

.selection:hover {
  border: 1px solid darken($detdb-primary, 5%);
  border-radius: $border-radius-sm;
  h1 {
    color: $detdb-primary;
  }
  .material-icons {
    color: $detdb-primary;
  }
}

.selection:active {
  border-color: darken($detdb-primary, 10%);
  h1 {
    color: darken($detdb-primary, 10%);
  }
  .material-icons {
    color: darken($detdb-primary, 10%);
  }
}

.selection-link {
  color: $detdb-secondary !important;
}

.selection-link:hover {
  text-decoration: none;
}

.selection > .material-icons {
  font-size: 82px;
}

.selection-list td a {
  display: block;
  padding: 12px !important;
}

.detonation a {
  display: inline !important;
}

// // // // // // //
// CATEGORY PAGES //
// // // // // // //

.selection-list > div {
  text-align: left;
}

.table {
  border-bottom: 1px solid $border-color;
}

.selection-link.subcategory-selection h1 {
  font-size: 1.5em;
}

.selection-link.subcategory-selection {
  padding-top: 30px;
  margin-top: 20px;
  text-align: center;
}

// // // // // // //
//   DATA PAGES   //
// // // // // // //

#data-sets > .row {
  @media screen and (min-width: map-get($grid-breakpoints, "xl")) {
    padding-right: 8%;
    padding-left: 8%;
  }
  @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
    padding-right: 1%;
    padding-left: 1%;
  }
  @media screen and (min-width: map-get($grid-breakpoints, "md")) {
    padding-right: 15%;
    padding-left: 15%;
  }
  @media screen and (min-width: map-get($grid-breakpoints, "xs")) {
    padding-right: 1%;
    padding-left: 1%;
  }
}

.detonation {
  @media screen and (min-width: map-get($grid-breakpoints, "xl")) {
    padding: 60px;
    padding-top: 30px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
    padding: 20px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, "md")) {
    padding: 60px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, "xs")) {
    padding: 30px 10px 10px 10px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .detonation td {
    padding: 5px !important;
  }
  .detonation .detail-label {
    font-size: 0.2em !important;
  }
  .detonation .detail {
    font-size: 0.3em !important;
  }
}

.detonation-heading {
  font-size: 1em;
}

.detail-label {
  font-size: 0.6em;
  font-weight: bold;
  color: darken($detdb-light, 40%);
  padding: 7px !important;
  text-align: right;
}

.detail {
  font-size: 0.8em;
  padding: 10px !important;
}

.detonation {
  border: 1px solid transparent;
  border-radius: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

// .detonation:hover {
//   border: 1px solid $detdb-primary;
// }

.detonation {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

// // // // // // //
//   PLOT PAGES   //
// // // // // // //

.plot-img {
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
}

.selection-list-expandable .plot-img {
  max-width: 400px !important;
  text-align: center;
  margin: 0 auto;
}

.selection-list-expandable {
  text-align: center;
}

.plot-title {
  font-size: 1.0em !important;
  padding-left: 30px;
}

.plot-img > img {
  max-width: 80% !important;
}

.table-heading {
  @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
    padding-top: 60px !important;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  .plot-nav {
    padding-top: 20px !important;
  }
  .plot-title {
    padding-top: 30px !important;
  }
}

#plot .selection-list {
  font-size: 0.7em;
}

.table-heading {
  padding-bottom: 30px;
  padding-top: 10px;
}

#plots-list img {
  max-width: 40%;
  @media screen and (max-width: map-get($grid-breakpoints, "md")) {
    max-width: 80%;
  }
}

#plots-list .plot-list-item {
  padding-top: 10px;
  padding-bottom: 20px;
}

#plots-list .plot-img {
  padding-top: 10px;
}

// // // // // // //
// SEARCH RESULTS //
// // // // // // //

.plot-preview > .plot-img {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 10px !important;
  @media screen and (min-width: map-get($grid-breakpoints, "md")) {
    max-width: 50%;
  }
  @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
    max-width: 30%;
  }
}

.plot-preview a {
  display: inline !important;
  padding: 10px !important;
}

.plot-preview .page-subtitle {
  padding-top: 5px !important;
}

// // // // // //
//  CITATIONS  //
// // // // // //
